<footer class="footer">
  <section class="contacts">
    <a class="contacts-link" href="mailto:eu@marquinhusgoncalves.com">
      <span class="contacts-circle">
        <i class="icon-email"></i>
      </span>
    </a>
    <a class="contacts-link" href="https://facebook.com/rocknight" target="_blank">
      <span class="contacts-circle">
        <i class="icon-facebook"></i>
      </span>
    </a>
    <a class="contacts-link" href="https://twitter.com/rocknight" target="_blank">
      <span class="contacts-circle">
        <i class="icon-twitter"></i>
      </span>
    </a>
  </section>
</footer>
<script src="{{ "/assets/js/script.js" | prepend : site.baseurl }}"></script>
<script id="dsq-count-scr" src="//marquinhusgoncalves.disqus.com/count.js" async></script>
