.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  height: 60px;
  font-size: 20px;
  color: $color-white;
}

.contacts-link {
  &:hover {
    & .contacts-circle {
      border-color: #CCC;
    }
  }
}

.contacts-circle {
  border: 1px solid $color-white;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
}
